<html>
  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">

  <a class="navbar-brand" href="/">VTRACKER</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">

        <a class="nav-link" (click)="goToSignUp()">Sign-Up</a>

      </li>

    </ul>

  </div>

</nav>

<form class="form-signin">
<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Please Sign To VTRACKER </h2>
    <div class="form-group" [class.has-error]="cusEmail.invalid &&cusEmail.touched ">
    <label for="inputEmail" class="sr-only control-label">Email address</label>

    <input type="email" id="inputEmail" name="email" class="form-control" [(ngModel)]="email" placeholder="Email address" #cusEmail="ngModel" email required autofocus>
   <div class="help-block alert alert-danger" *ngIf=" cusEmail.errors?.required && cusEmail.touched">Email is required</div> 
   <div class="help-block alert alert-danger" *ngIf="cusEmail.errors?.email && cusEmail.touched">Email is invalid</div>  
 
  </div>
    <br>
    
    <div class="form-group" [class.has-error]="cusPassword.invalid && cusPassword.touched">

    <label for="inputPassword" class="sr-only control-label">Password</label>

    <input type="password" id="inputPassword" name="password" class="form-control" [(ngModel)]="password"  #cusPassword="ngModel" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
    required>
  </div>
    <br>
<div class="alert alert-danger" *ngIf="badRequest===404 || badRequest===400">Email or Password Entered is incorrect</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signinFunction()">Sign in</button>

  </div>

  <div class="col-sm"></div>

</div>
</form>
<footer class="footer">
  <div class="container text-center">
    <span class="text-white">&copy;VTRACKER</span>
    </div>
    </footer>
    </body>
    </html>
   


