<html>
  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">

  <a class="navbar-brand" href="/">VTRACKER</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">

        <a class="nav-link" (click)="goToSignIn()">Sign-In</a>

      </li>

    </ul>

  </div>

</nav>
<form class="form-signin">
<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Sign Up To Log Issue</h2>

    <br>
    <div class="form-group" [class.has-error]="fName.invalid &&fName.touched ">

    <span>FirstName: </span>

    <label for="inputFirstName" class="sr-only">FirstName</label>

    <input type="text" name="firstName" id="inputFirstName" class="form-control control-label" [(ngModel)]="firstName" placeholder="FirstName" #fName="ngModel" required autofocus>
    <div class="help-block" *ngIf=" fName.errors?.required && fName.touched">FirstName is required</div> 
 
  </div>
    <br>
    <div class="form-group" [class.has-error]="lName.invalid &&fName.touched ">
     <span>LastName: </span>

    <label for="inputLastName" class="sr-only">LastName</label>

    <input type="text" name="lastName" id="inputLastName" class="form-control control-label" [(ngModel)]="lastName" #lName="ngModel" placeholder="LastName" required>
    <div class="help-block" *ngIf=" lName.errors?.required &&lName.touched">LastName is required</div> 

  </div>
    <br>
    <div class="form-group" [class.has-error]="cMobile.invalid &&cMobile.touched ">

    <span>Mobile: </span>

    <label for="inputMobile" class="sr-only control-label">Mobile Number</label>

    <input type="number" name="mobile" id="inputMobile" class="form-control" [(ngModel)]="mobile" #cMobile="ngModel" placeholder="Mobile" required>
    <div class="help-block" *ngIf=" cMobile.errors?.required &&cMobile.touched">Mobile Number is required</div> 

    </div>
    <br>
    <div class="form-group" [class.has-error]="cEmail.invalid &&cEmail.touched ">

    <span>Email: </span>
    
    <label for="inputEmail" class="sr-only control-label">Email address</label>

    <input type="email" name="email"id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" #cEmail="ngModel" email required>
    <div class="help-block" *ngIf=" cEmail.errors?.required && cEmail.touched">Email is required</div> 
    <div class="help-block" *ngIf="cEmail.errors?.email && cEmail.touched">Email is invalid</div>  
  </div>
    <br>
    <div class="form-group" [class.has-error]="cPassword.invalid &&cPassword.touched ">

    <span>Password: </span>

    <label for="inputPassword" class="sr-only control-label">Password</label>

    <input type="password" name="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" #cPassword="ngModel" required>
    <div class="help-block" *ngIf="cPassword.invalid && cPassword.touched">Atleast one uppercase letter, one lowercase letter, one number and one special character Required </div>  
  
  </div>    
    <br>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signupFunction()">Sign Up</button>

  </div>

  <div class="col-sm"></div>

</div>
</form>
<footer class="footer">
  <div class="container text-center">
    <span class="text-white">&copy;VTRACKER</span>
    </div>
    </footer>
 </body>
    </html>